label{
    display: inline-block;
    width: 80px;
    text-align: right;
}
input{
    background-color: white;
    color: black;
    border-radius:6px;
    margin: 0px 0px 5px 5px;
    padding-left: 3px;
}

fieldset{
    text-align: center;
    border-radius:12px;
    max-width:300px;
    margin: auto;
}
